// Place all the styles related to the ScrapeRequests controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
  height: 100%;
}

body {
  background: url(asset-path('background.jpeg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.parent {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  align-items: center;
  display: flex;
}

//.form-row {
//  position: absolute;
//  left: 40%;
//  top: 200px;
//}

#header {
  letter-spacing: 0.15rem;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo {
  position: absolute;
  bottom: calc(100% + 4rem);
  left: 0;
  right: 0;
  margin-left: 1rem !important;
  text-align: center;
  color: white;
  //font-family: 'Eczar', sans-serif;
  //font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 1rem;
}